////////////////////////////////
// Alert style from UIKit //
////////////////////////////////
.alert {
    margin-top: 20px;
    margin-bottom: 20px;

    position: relative;

    padding: 15px 29px 15px 15px;

    background: #f8f8f8;
    color: #666;
}

.alert-danger {
    &, * {
        background: #fef4f6;
        color: #f0506e;
    }
}