////////////////////////////////
// flex //
////////////////////////////////
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column !important;
}

.flex-row {
    flex-direction: row !important;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

////////////////////////////////
// Height //
////////////////////////////////
@each $quarter in (0, 25, 50, 75, 100) {
    .height-#{$quarter} {
        height: $quarter#{'%'} !important;
    }

    .height-#{$quarter}vh {
        height: $quarter#{'vh'} !important;
    }
}

.height-fit-content {
    height: fit-content!important;
}

////////////////////////////////
// Width //
////////////////////////////////
@each $quarter in (0, 25, 50, 75, 100) {
    .width-#{$quarter} {
        width: $quarter#{'%'} !important;
    }

    .width-#{$quarter}vw {
        width: $quarter#{'vw'} !important;
    }
}

.width-fit-content {
    width: fit-content!important;
}

////////////////////////////////
// Text //
////////////////////////////////
.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

////////////////////////////////
// Margin //
////////////////////////////////
.margin {
    margin-top: 20px !important;
}

.margin-bottom {
    margin-bottom: 20px !important;
}

.margin-left {
    margin-left: 20px !important;
}

.margin-right {
    margin-right: 20px !important;
}
