.fit-content {
    width: fit-content!important;
}

.scrollable-y {
    overflow-y: scroll!important;
}

.scrollable-x {
    overflow-x: scroll!important;
}

.no-scroll {
    overflow: hidden!important;
}