.svg {
    background-color: currentColor;
    mask: var(--svg-url) no-repeat center;

    display: block;

    width: 2em;
    height: 2em;

    mask-size: 2em;

    &.svg-small {
        width: .5em;
        height: .5em;

        mask-size: .5em;
    }

    &.svg-medium {
        width: 1em;
        height: 1em;

        mask-size: 1em;
    }

    &.svg-large {
        width: 3em;
        height: 3em;

        mask-size: 3em;
    }

    &.svg-xlarge {
        width: 10em;
        height: 10em;

        mask-size: 10em;
    }

    @each $angle in (45, 90, 135, 180, 225, 270) {
        &.svg-rotate-#{$angle} {
            transform: rotate(-$angle#{"deg"});
        }
    }
}

.icon-right {
    display: flex;

    align-items: center;

    :last-child {
        margin-left: .25em;
    }
}