{% extends "layouts/base.html" %}
{% load define %}
{% load checks %}
{% load debug %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load guilds %}

{% block title %}{{ guild.name }} | {% trans "Channels" %} - {{ APP_NAME }}{% endblock %}

{% block content %}
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
        <div class="uk-width-1-1@m">
            <div class="uk-margin uk-width-1 uk-margin-auto uk-card uk-card-default">
                <div class="uk-card-header">
                    <ul class="uk-breadcrumb uk-margin-remove-bottom">
                        <li><a href="{% url "guild:home" %}">Guilds</a></li>
                        <li><a href="{% url "guild:guild_details" guild.id %}">{{ guild.name }}</a></li>
                        <li><a href="{% url "guild:guild_settings" guild.id %}">{% trans "Settings" %}</a></li>
                        <li><span>{% trans "Channels" %}</span></li>
                    </ul>
                </div>

                <div class="uk-card-body">
                    <h1 class="uk-card-title uk-text-center">
                        {% trans "Channels" %}
                    </h1>

                    <div class="uk-grid-small uk-grid-divider" uk-grid>
                        <div class="uk-width-1-2@m">
                            <fieldset class="uk-fieldset">
                                <legend class="uk-legend uk-text-center">{% trans "Disposition" %}</legend>

                                <ul class="uk-list">
                                    {% for row in guild|show_channels_and_categories %}
                                        {% define row|isinstance:"chat.apps.guilds.models.Category" as is_category %}

                                        <li class="uk-box-shadow-small uk-background uk-padding-small">
                                            <div class="uk-flex uk-flex-between">
                                                <div>
                                                    <a class="uk-link">
                                                        {% if is_category %}
                                                            <span class="uk-text-top"
                                                                  uk-icon="icon: chevron-down"></span>
                                                        {% else %}
                                                            <span class="uk-text-top"
                                                                  uk-icon="icon: hashtag"></span>
                                                        {% endif %}
                                                        <span>{{ row.name }}</span>
{#                                                        <span class="uk-text-top" uk-icon="icon: cog"></span>#}
                                                    </a>
                                                </div>
                                                <div class="uk-button-group">
                                                    <a class="uk-button uk-button-link uk-text-top">
                                                        <span class="move_row" data-direction="down"
                                                              data-row-id="{{ row.id }}"
                                                              uk-icon="icon: triangle-down"></span>
                                                    </a>
                                                    <a class="uk-button uk-button-link uk-text-top">
                                                        <span class="move_row" data-direction="up"
                                                              data-row-id="{{ row.id }}"
                                                              uk-icon="icon: triangle-up"></span>
                                                    </a>
                                                </div>
                                            </div>
                                            {% if is_category %}
                                                <ul class="uk-list uk-margin-left">
                                                    {% for channel in row|show_channels_from_category %}
                                                        <li>
                                                            <a class="uk-link">
                                                                <span class="uk-text-top"
                                                                      uk-icon="icon: hashtag"></span>
                                                                <span>{{ channel.name }}</span>
{#                                                                <span class="uk-text-top" uk-icon="icon: cog"></span>#}
                                                            </a>
                                                            <a class="uk-button uk-button-link uk-text-top">
                                                                <span class="move_row" data-direction="down"
                                                                      data-row-id="{{ channel.id }}"
                                                                      uk-icon="icon: triangle-down"></span>
                                                            </a>
                                                            <a class="uk-button uk-button-link uk-text-top">
                                                                <span class="move_row" data-direction="up"
                                                                      data-row-id="{{ channel.id }}"
                                                                      uk-icon="icon: triangle-up"></span>
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </fieldset>
                        </div>


                        <div class="uk-width-1-2@m">
                            <fieldset class="uk-fieldset">
                                <legend class="uk-legend uk-text-center">{% trans "Creation" %}</legend>

                                <form action="{% url 'guild:guild_settings_channels' guild.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="type" value="category">
                                    <fieldset class="uk-fieldset">
                                        <legend class="uk-legend">{% trans "Category" %}</legend>
                                        <div class="uk-margin">
                                            <label class="uk-form-label" for="id_{{ categories_form.name.name }}">
                                                {{ categories_form.name.label }}
                                            </label>
                                            <input type="text" class="uk-input" id="id_{{ categories_form.name.name }}"
                                                   placeholder="{{ categories_form.name.label }}"
                                                   name="{{ categories_form.name.name }}">
                                        </div>

                                        <div class="uk-margin">
                                            <button class="uk-button uk-button-primary" name="action_add">
                                                {% trans "Create" %}
                                            </button>
                                        </div>
                                    </fieldset>
                                </form>

                                <hr>

                                <form action="{% url 'guild:guild_settings_channels' guild.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="type" value="channel">
                                    <fieldset class="uk-fieldset">
                                        <legend class="uk-legend">{% trans "Channel" %}</legend>
                                        <div class="uk-margin">
                                            <label class="uk-form-label" for="id_{{ channels_form.name.name }}">
                                                {{ channels_form.name.label }}
                                            </label>
                                            <input type="text" class="uk-input"
                                                   placeholder="{{ channels_form.name.label }}"
                                                   id="id_{{ channels_form.name.name }}"
                                                   name="{{ channels_form.name.name }}">
                                        </div>

                                        <div class="uk-margin">
                                            <label class="uk-form-label" for="id_{{ channels_form.topic.name }}">
                                                {{ channels_form.topic.label }}
                                            </label>
                                            <textarea class="uk-textarea" id="id_{{ channels_form.topic.name }}"
                                                      placeholder="{{ channels_form.topic.label }}"
                                                      name="{{ channels_form.topic.name }}"></textarea>
                                        </div>

                                        <div class="uk-margin">
                                            <label class="uk-form-label" for="id_{{ channels_form.parent.name }}">
                                                {{ channels_form.parent.label }}
                                            </label>
                                            <select class="uk-select" id="id_{{ channels_form.parent.name }}"
                                                    name="{{ channels_form.parent.name }}">
                                                <optgroup label="Default">
                                                    <option selected>{% trans "None" %}</option>
                                                </optgroup>
                                                <optgroup label="_________">
                                                    {% for row in guild|show_channels_and_categories %}
                                                        <option value="{{ row.id }}">{{ row.name }}</option>
                                                    {% endfor %}
                                                </optgroup>
                                            </select>
                                        </div>

                                        <div class="uk-margin">
                                            <button class="uk-button uk-button-primary" name="action_add">
                                                {% trans "Create" %}
                                            </button>
                                        </div>
                                    </fieldset>
                                </form>

                                <hr>

                                <div class="uk-margin uk-flex uk-flex-right">
                                    <a class="uk-button uk-button-default"
                                       href="{% url 'guild:guild_settings' guild.id %}">
                                        {% trans "Back" %}
                                    </a>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block inline_javascript %}
    <script>
        const rows = document.querySelectorAll(".move_row");
        const UPDATE_GUILD_ENDPOINT = "{% url "guild:guild_settings_channels" guild.id %}";

        rows.forEach((el) => {
            el.addEventListener("click", () => {
                const direction = el.getAttribute("data-direction");
                const row_id = el.getAttribute("data-row-id")

                fetch(
                    UPDATE_GUILD_ENDPOINT,
                    {
                        method: "PATCH",
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        body: JSON.stringify({
                            action: "move_row",
                            values: {
                                row_id: row_id,
                                direction: direction
                            },
                        })
                    }
                )
            })
        })
    </script>
{% endblock %}
