{% extends "layouts/base.html" %}
{% load debug %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load guilds %}

{% block title %}{{ guild.name }} | {% trans "Members" %} - {{ APP_NAME }}{% endblock %}

{% block content %}
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
        <div class="uk-width-1-1@m">
            <div class="uk-margin uk-width-1 uk-margin-auto uk-card uk-card-default">
                <div class="uk-card-header">
                    <ul class="uk-breadcrumb uk-margin-remove-bottom">
                        <li><a href="{% url "guild:home" %}">Guilds</a></li>
                        <li><a href="{% url "guild:guild_details" guild.id %}">{{ guild.name }}</a></li>
                        <li><a href="{% url "guild:guild_settings" guild.id %}">{% trans "Settings" %}</a></li>
                        <li><span>{% trans "Members" %}</span></li>
                    </ul>
                </div>

                <div class="uk-card-body">
                    <h1 class="uk-card-title uk-text-center">
                        {% trans "Members" %}
                    </h1>

                    <form action="{% url 'guild:guild_settings_members' guild.id %}" method="post">
                        {% csrf_token %}

                        <div class="uk-overflow-auto uk-margin-bottom">
                            <table class="uk-table uk-table-striped">
                                <caption>{{ guild.members_count }} {% trans 'members' %}</caption>
                                <thead>
                                <tr>
                                    <th scope="col" class="uk-table-shrink"></th>
                                    <th scope="col" class="uk-table-expand">{% trans "Name" %}</th>
                                    <th scope="col" class="uk-width-medium">{% trans "Messages sent" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for member in form.members.initial %}
                                    <tr>
                                        <td>
                                            <input id="user_checkbox_{{ member.id }}" type="checkbox"
                                                   name="{{ form.members.name }}[{{ member.id }}]"
                                                   {% if member == request.user %}disabled{% endif %}>
                                        </td>
                                        <td>
                                            <label for="user_checkbox_{{ member.id }}">
                                                <a href="{% url 'users:detail' member %}" target="_blank">
                                                    {{ member }}
                                                    {% if member == request.user %}
                                                        <i class="uk-text-muted">({% trans "you" %})</i>
                                                    {% endif %}
                                                </a>
                                            </label>
                                        </td>
                                        <td>
                                            <label for="user_checkbox_{{ member.id }}">
                                                {{ member|get_messages_sent:guild|length }}
                                            </label>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% if form.members.errors %}
                                <ul class="uk-list uk-margin-remove uk-list-disc uk-list-collapse">
                                    {% for error in form.members.errors %}
                                        <li class="uk-text-danger">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {% if form.action.errors %}
                                <ul class="uk-list uk-margin-remove uk-list-disc uk-list-collapse">
                                    {% for error in form.action.errors %}
                                        <li class="uk-text-danger">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                        <div class="uk-margin uk-flex uk-flex-between">
                            <div class="uk-button-group">
                                <button class="uk-button uk-button-primary" type="submit" value="kick"
                                        name="{{ form.action.name }}">
                                    {% trans 'Kick' %}
                                </button>
                                <button class="uk-button uk-button-danger" type="submit" value="ban"
                                        name="{{ form.action.name }}">
                                    {% trans 'Ban' %} (disabled)
                                </button>
                            </div>

                            <a class="uk-button uk-button-default" href="{% url 'guild:guild_settings' guild.id %}">
                                {% trans "Back" %}
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
