.uk-card-default {
  border-radius: 5px;
  background: #eee;
  -webkit-box-shadow: 5px 5px 10px #c8c8c8, -5px -5px 10px #e6e6e6;
          box-shadow: 5px 5px 10px #c8c8c8, -5px -5px 10px #e6e6e6;
  outline: 1px solid #f3f3f3; }
  .uk-card-default .uk-card-header {
    border-bottom: 1px solid #e6e6e6; }

.uk-navbar.uk-background-secondary .uk-navbar-item {
  color: #fff; }

.uk-navbar-dropdown {
  padding: 10px; }

.uk-offcanvas-bar {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  border-right: 5px solid transparent; }
  .uk-offcanvas-bar::-webkit-scrollbar {
    background: transparent;
    width: 8px; }
  .uk-offcanvas-bar::-webkit-scrollbar-thumb {
    background: #838383;
    border-radius: 8px; }
    .uk-offcanvas-bar::-webkit-scrollbar-thumb:hover {
      background: #6f6f6f; }

body {
  background-color: #eee;
  min-height: 100vh; }

.text-monospace {
  font-family: monospace !important; }
