.uk-card-default {
  border-radius: 5px;
  background: #fff; }
  .uk-card-default.uk-card-shadow {
    outline: 1px solid white;
    -webkit-box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #f7f7f7;
            box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #f7f7f7; }
  .uk-card-default .uk-card-header {
    border-bottom: 1px solid #f7f7f7; }

.uk-navbar.uk-background-secondary .uk-navbar-item, .uk-navbar.uk-background-secondary .uk-navbar-nav > li > a, .uk-navbar.uk-background-secondary .uk-navbar-toggle {
  color: #fff;
  min-height: unset; }

.uk-navbar .uk-navbar-dropdown {
  padding: 10px; }

.uk-navbar .uk-logo > img {
  height: 42px; }

.uk-offcanvas-bar {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  border-right: 5px solid transparent; }

.uk-textarea {
  min-height: 41px; }

@media (max-width: 959px) {
  [class^="uk-padding-remove-horizontal@s"] {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

.uk-badge-danger {
  background-color: #f0506e;
  color: white; }

*::-webkit-scrollbar {
  background: transparent;
  width: 4px; }

*::-webkit-scrollbar-thumb {
  background: #949494;
  border-radius: 8px; }
  *::-webkit-scrollbar-thumb:hover {
    background: gray; }

#messages {
  border-right: 5px solid transparent; }

.message {
  margin-right: 1.5em;
  margin-left: .5em; }
  .message::before {
    content: "";
    width: .5em;
    height: .5em;
    position: absolute;
    top: 0;
    left: -.5em;
    border-top: 0.5em solid #d8eafc;
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    border-bottom: .5em solid transparent; }
  .message.message-me {
    margin-left: 1.5em;
    margin-right: .5em; }
    .message.message-me::before {
      content: none; }
    .message.message-me::after {
      content: "";
      width: .5em;
      height: .5em;
      position: absolute;
      top: 0;
      right: -.5em;
      border-top: 0.5em solid #edfbf6;
      border-left: .5em solid transparent;
      border-right: .5em solid transparent;
      border-bottom: .5em solid transparent; }
  .message .uk-subnav-divider > :nth-child(n+2):not(.uk-first-column)::before {
    border-left-color: #999; }

body {
  background-color: #fff;
  min-height: 100vh; }

.text-monospace {
  font-family: monospace !important; }
