body {
  background-color: #f9f9f9;
  min-height: 100vh; }

.uk-card-default {
  border-radius: 5px;
  background: #f9f9f9;
  -webkit-box-shadow: 5px 5px 10px lightgray, -5px -5px 10px white;
          box-shadow: 5px 5px 10px lightgray, -5px -5px 10px white;
  outline: 1px solid #fefefe; }
