{% extends "layouts/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Sign Out" %}{% endblock %}

{% block content_class %}
    uk-width-large
{% endblock %}

{% block content %}
    <div class="uk-margin uk-margin-auto uk-card-body">
        <h1 class="uk-card-title uk-text-center">{% translate "Sign Out" %}</h1>

        <div class="uk-alert uk-alert-primary">
            <p>{% trans "Don't forget to export your key ;)" %}</p>
        </div>

        {% if form.non_field_errors %}
            <div class="uk-alert uk-alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <form autocomplete="off" method="post"
              action="{% url "account_logout" %}">
            {% csrf_token %}

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}"/>
            {% endif %}

            <div class="uk-margin">
                <label class="uk-inline uk-width-1-1" for="private_key">
                    {% trans "Private key" %}
                    <textarea class="uk-textarea uk-resize-vertical" id="private_key" cols="30" rows="10"></textarea>
                </label>
                <div class="uk-width-1-1">
                    <a id="private_key_export">{% trans "Download" %}</a>
                </div>
            </div>

            <div class="uk-margin">
                <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">
                    {% trans "Sign Out" %}
                </button>
            </div>

            <div class="uk-text-small uk-text-center">
                <a href="{% url 'guild:home' %}">{% trans "Go back home" %}</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block inline_javascript %}
    <script>
        if (window.keyPair === undefined) {
            window.keyPair = window.sessionStorage.getItem("keySet").split("|");
        }

        const textarea = document.getElementById("private_key");
        const anchor = document.getElementById("private_key_export");
        const secret_key = keyPair[1];

        textarea.innerHTML = secret_key;
        anchor.setAttribute("href", `data:text/plain;charset=utf-8,${encodeURIComponent(secret_key)}`);
        anchor.setAttribute('download', "private_key");
    </script>
{% endblock %}
