{% extends "layouts/base.html" %}
{% load debug %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block title %}{% translate "Password Reset" %}{% endblock %}

{% block content %}
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
        <div class="uk-width-1-1@m">
            <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body">
                <h1 class="uk-card-title uk-text-center">{% translate "Password Reset" %}</h1>

                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <div class="uk-alert uk-alert-primary">
                    <p>{% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                </div>

                <form autocomplete="off" method="post"
                      action="{% url "account_reset_password" %}">
                    {% csrf_token %}

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}"
                               value="{{ redirect_field_value }}"/>
                    {% endif %}

                    <div class="uk-margin">
                        <label class="uk-inline uk-width-1-1" for="id_{{ form.email.name }}">
                            <span class="uk-form-icon" uk-icon="icon: mail"></span>
                            <input name="{{ form.email.name }}"
                                   class="uk-input uk-form-large
                                                {% if form.email.errors %}uk-form-danger{% endif %}"
                                   placeholder="{% trans "Email" %}" type="email"
                                   id="id_{{ form.email.name }}"
                                   required>
                        </label>
                    </div>

                    <div class="uk-margin">
                        <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">
                            {% trans "Reset My Password" %}
                        </button>
                    </div>

                    <div class="uk-text-small uk-text-center">
                        <a href="{% url 'account_login' %}">{% trans "Login" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
