{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
        <div class="uk-width-1-1@m">
            <div
                class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body">
                <h1 class="uk-card-title uk-text-center">{% translate "Password Reset" %}</h1>

                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>
                    {% trans "We have sent you an e-mail. Please contact us if you do not receive it within a few minutes." %}
                </p>

                <div class="uk-text-small uk-text-center">
                    <a href="{% url 'account_login' %}">{% trans "Back to login" %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
