{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
        <div class="uk-width-1-1@m">
            <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body">
                <h1 class="uk-card-title uk-text-center">
                    {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
                </h1>

                {% if token_fail %}
                    {% url 'users:reset_password' as passwd_reset_url %}
                    <p>
                        {% blocktrans %}
                            The password reset link was invalid, possibly because it has already been used.
                            Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
                        {% endblocktrans %}
                    </p>
                {% else %}
                    {% if form %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}"/>
                            {% endif %}

                            {% if form.non_field_errors %}
                                <div class="uk-alert uk-alert-danger">
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}

                            <div class="uk-margin">
                                <label class="uk-inline uk-width-1-1" for="{{ form.password1.id_for_label }}">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    <input name="{{ form.password1.name }}"
                                           class="uk-input uk-form-large
                                                    {% if form.password1.errors %}uk-form-danger{% endif %}"
                                           placeholder="{{ form.password1.label }}" type="password"
                                           id="{{ form.password1.id_for_label }}"
                                           required>
                                </label>
                                {% if form.password1.errors %}
                                    <ul class="uk-list uk-margin-remove uk-list-disc uk-list-collapse">
                                        {% for error in form.password1.errors %}
                                            <li class="uk-text-danger">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>

                            <div class="uk-margin">
                                <label class="uk-inline uk-width-1-1" for="{{ form.password2.id_for_label }}">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    <input name="{{ form.password2.name }}"
                                           class="uk-input uk-form-large
                                                    {% if form.password2.errors %}uk-form-danger{% endif %}"
                                           placeholder="{{ form.password2.label }}" type="password"
                                           id="{{ form.password2.id_for_label }}"
                                           required>
                                </label>
                                {% if form.password2.errors %}
                                    <ul class="uk-list uk-margin-remove uk-list-disc uk-list-collapse">
                                        {% for error in form.password2.errors %}
                                            <li class="uk-text-danger">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>

                            <div class="uk-margin">
                                <input class="uk-button uk-button-primary uk-button-large uk-width-1-1" type="submit"
                                       name="action" value="{% trans 'change password' %}"/>
                            </div>
                        </form>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
