{% extends "layouts/base.html" %}
{% load debug %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
        <div class="uk-width-1-1@m">
            <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body">
                <h1 class="uk-card-title uk-text-center">{% trans "Sign Up" %} - {{ APP_NAME }}</h1>

                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}"
                               value="{{ redirect_field_value }}"/>
                    {% endif %}

                    {% if form.non_field_errors %}
                        <div class="uk-alert uk-alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    <div class="uk-margin">
                        <label class="uk-inline uk-width-1-1" for="{{ form.username.id_for_label }}">
                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                            <input name="{{ form.username.name }}"
                                   value="{{ form.data.username }}"
                                   class="uk-input uk-form-large
                                                    {% if form.username.errors %}uk-form-danger{% endif %}"
                                   placeholder="{{ form.username.label }}" type="text"
                                   id="{{ form.username.id_for_label }}"
                                   required>
                        </label>
                        {% if form.username.errors %}
                            <ul class="uk-list uk-margin-remove uk-list-disc uk-list-collapse">
                                {% for error in form.username.errors %}
                                    <li class="uk-text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="uk-margin">
                        <label class="uk-inline uk-width-1-1" for="{{ form.password1.id_for_label }}">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input name="{{ form.password1.name }}"
                                   class="uk-input uk-form-large
                                                    {% if form.password1.errors %}uk-form-danger{% endif %}"
                                   placeholder="{{ form.password1.label }}" type="password"
                                   id="{{ form.password1.id_for_label }}"
                                   required>
                        </label>
                        {% if form.password1.errors %}
                            <ul class="uk-list uk-margin-remove uk-list-disc uk-list-collapse">
                                {% for error in form.password1.errors %}
                                    <li class="uk-text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="uk-margin">
                        <label class="uk-inline uk-width-1-1" for="{{ form.password2.id_for_label }}">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input name="{{ form.password2.name }}"
                                   class="uk-input uk-form-large
                                                    {% if form.password2.errors %}uk-form-danger{% endif %}"
                                   placeholder="{{ form.password2.label }}" type="password"
                                   id="{{ form.password2.id_for_label }}"
                                   required>
                        </label>
                        {% if form.password2.errors %}
                            <ul class="uk-list uk-margin-remove uk-list-disc uk-list-collapse">
                                {% for error in form.password2.errors %}
                                    <li class="uk-text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="uk-margin">
                        <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">
                            {% trans "Sign Up" %}
                        </button>
                    </div>

                    <div class="uk-text-small uk-text-center">
                        <a href="{% url 'account_login' %}">{% trans "Already have an account?" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
