{% load i18n %}
{% load static %}
{% if channel %}
    <div id="footer">
        <form action="" class="height-100">
            <div class="form">
                <div class="inline height-100">
                    <label for="id_upload" class="form-icon">
                        <i class="svg" style="--svg-url: url('{% static "images/icons/image_upload.svg" %}')"></i>
                        <input type="file"  multiple aria-label="{% trans "Upload" %}" style="display: none" id="id_upload" name="upload">
                    </label>

                    <label for="id_message" class="height-100">
                            <textarea style="resize: none"
                                      class="height-100 input input-icon-right input-icon-left {% if form.name.errors %} input-error {% endif %}"
                                      type="text" name="message"
                                      placeholder="{% trans "Message" %} #{{ channel.name }}"
                                      required id="id_{{ form.name.name }}"></textarea>
                    </label>

                    <label for="id_send" class="form-icon form-icon-flip">
                        <i class="svg" style="--svg-url: url('{% static "images/icons/paper-plane.svg" %}')"></i>
                        <input type="submit"  aria-label="{% trans "Send" %}" style="display: none" id="id_send" name="submit">
                    </label>
                </div>
            </div>
        </form>
    </div>
{% endif %}