{% load static %}
{% load i18n %}
{% if SHOW_SIDEBAR %}
    <div id="navbar">
        <div class="navbar-guild">
            <a href="#guild-select" class="link icon-right">
                {{ guild.name }}

                <i class="svg svg-small svg-rotate-270"
                   style="--svg-url: url('{% static "images/icons/chevron_left.svg" %}')"></i>
            </a>
        </div>

        {% if channel %}
            <div class="navbar-title">
                <a href="#sidebar" class="link icon-right">
                    {{ channel.name }}

                    <i class="svg svg-small svg-rotate-270"
                       style="--svg-url: url('{% static "images/icons/chevron_left.svg" %}')"></i>
                </a>
            </div>
        {% else %}
            <div class="navbar-title">
                <a href="#sidebar" class="link icon-right no-before" title="{% trans "Channels" %}">
                    {% trans "Channels" %}
                    <i class="svg svg-small svg-rotate-270"
                       style="--svg-url: url('{% static "images/icons/chevron_left.svg" %}')"></i>
                </a>
            </div>
        {% endif %}

        <div class="navbar-settings">
            <a class="button" href="#user-settings">{{ user.username }}</a>
        </div>
    </div>

    <div id="user-settings" class="navbar-userSettings">
        <div class="navbar-userSettings-arrow"></div>
        <div class="navbar-userSettings-container">
            <a class="navbar-userAction" href="{% url 'users:update' %}">
                <div class="navbar-userAction-text">
                    {% trans "Account Settings" %}
                </div>
                <span class="navbar-userAction-icon">
                    <i class="svg"
                       style="--svg-url: url('{% static "images/icons/settings.svg" %}')"></i>
                </span>
            </a>
            <a class="navbar-userAction" href="{% url 'account_logout' %}">
                <div class="navbar-userAction-text">
                    {% trans "Logout" %}
                </div>
                <span class="navbar-userAction-icon">
                    <i class="svg"
                       style="--svg-url: url('{% static "images/icons/circle_lock.svg" %}')"></i>
                </span>
            </a>
        </div>

        <a class="cancel" href="#"></a>
    </div>
{% else %}
    <div id="navbar">
        <div class="navbar-home">
            <a href="{% url "pages:home" %}">{{ APP_NAME }}</a>
        </div>

        <div class="navbar-settings">
            <a class="button" href="#user-settings">{{ user.username }}</a>
        </div>

        <div id="user-settings" class="navbar-userSettings">
            <div class="navbar-userSettings-arrow"></div>
            <div class="navbar-userSettings-container">
                <a class="navbar-userAction" href="{% url 'users:update' %}">
                    <div class="navbar-userAction-text">
                        {% trans "Account Settings" %}
                    </div>
                    <span class="navbar-userAction-icon">
                        <i class="svg"
                           style="--svg-url: url('{% static "images/icons/settings.svg" %}')"></i>
                    </span>
                </a>
                <a class="navbar-userAction" href="{% url 'account_logout' %}">
                    <div class="navbar-userAction-text">
                        {% trans "Logout" %}
                    </div>
                    <span class="navbar-userAction-icon">
                        <i class="svg"
                           style="--svg-url: url('{% static "images/icons/circle_lock.svg" %}')"></i>
                    </span>
                </a>
            </div>

            <a class="cancel" href="#"></a>
        </div>
    </div>
{% endif %}
