{% load static %}
{% load i18n %}
{% if SHOW_SIDEBAR %}
    <div id="navbar">
        <div class="navbar-guild">
            <a href="#guild-select">
                <span>{{ guild.name }}</span>
                <div class="chevron">
                    <svg viewBox="0 0 29.9332275390625 19.30755615234375" xmlns="http://www.w3.org/2000/svg">
                        <g transform="matrix(1 0 0 1 -4.2333862304687955 21.6357421875)">
                            <path d="M 19.208 -2.32422 C 19.9219 -2.34082 20.5195 -2.60645 21.0674 -3.1709 L 33.502 -15.9043 C 33.9502 -16.3525 34.166 -16.8672 34.166 -17.5146 C 34.166 -18.8096 33.1367 -19.8389 31.8584 -19.8389 C 31.2275 -19.8389 30.6299 -19.5732 30.165 -19.1084 L 19.208 -7.81934 L 8.23438 -19.1084 C 7.76953 -19.5732 7.18848 -19.8389 6.54102 -19.8389 C 5.2627 -19.8389 4.2334 -18.8096 4.2334 -17.5146 C 4.2334 -16.8838 4.46582 -16.3525 4.89746 -15.9043 L 17.3486 -3.1709 C 17.9131 -2.58984 18.4941 -2.32422 19.208 -2.32422 Z"></path>
                        </g>
                    </svg>
                </div>
            </a>
        </div>

        {% if channel %}
            <div class="navbar-title">
                <a href="#sidebar" title="{{ channel.name }}">
                    <span>{{ channel.name }}</span>
                    <div class="chevron">
                        <svg viewBox="0 0 29.9332275390625 19.30755615234375" xmlns="http://www.w3.org/2000/svg">
                            <g transform="matrix(1 0 0 1 -4.2333862304687955 21.6357421875)">
                                <path d="M 19.208 -2.32422 C 19.9219 -2.34082 20.5195 -2.60645 21.0674 -3.1709 L 33.502 -15.9043 C 33.9502 -16.3525 34.166 -16.8672 34.166 -17.5146 C 34.166 -18.8096 33.1367 -19.8389 31.8584 -19.8389 C 31.2275 -19.8389 30.6299 -19.5732 30.165 -19.1084 L 19.208 -7.81934 L 8.23438 -19.1084 C 7.76953 -19.5732 7.18848 -19.8389 6.54102 -19.8389 C 5.2627 -19.8389 4.2334 -18.8096 4.2334 -17.5146 C 4.2334 -16.8838 4.46582 -16.3525 4.89746 -15.9043 L 17.3486 -3.1709 C 17.9131 -2.58984 18.4941 -2.32422 19.208 -2.32422 Z"></path>
                            </g>
                        </svg>
                    </div>
                </a>
            </div>
        {% else %}
            <div></div>
        {% endif %}

        <div class="navbar-settings">
            <a class="button" href="#user-settings">{{ user.username }}</a>
        </div>
    </div>

    <div id="user-settings" class="navbar-userSettings">
        <div class="navbar-userSettings-arrow"></div>
        <div class="navbar-userSettings-container">
            <a class="navbar-userAction" href="{% url 'users:update' %}">
                <div class="navbar-userAction-text">
                    {% trans "Account Settings" %}
                </div>
                <span class="navbar-userAction-icon">
                    <img src="{% static "images/icons/settings.svg" %}" alt="{% trans "Settings" %}">
                </span>
            </a>
            <a class="navbar-userAction" href="{% url 'account_logout' %}">
                <div class="navbar-userAction-text">
                    {% trans "Logout" %}
                </div>
                <span class="navbar-userAction-icon">
                    <img src="{% static "images/icons/circle_lock.svg" %}" alt="{% trans "Logout" %}">
                </span>
            </a>
        </div>

        <a class="cancel" href="#"></a>
    </div>
{% else %}
    <div id="navbar">
        <div class="navbar-home">
            <a href="{% url "pages:home" %}">{{ APP_NAME }}</a>
        </div>

        <div class="navbar-settings">
            <a class="button" href="#user-settings">{{ user.username }}</a>
        </div>

        <div id="user-settings" class="navbar-userSettings">
            <div class="navbar-userSettings-arrow"></div>
            <div class="navbar-userSettings-container">
                <a class="navbar-userAction" href="{% url 'users:update' %}">
                    <div class="navbar-userAction-text">
                        {% trans "Account Settings" %}
                    </div>
                    <span class="navbar-userAction-icon">
                        <img src="{% static "images/icons/settings.svg" %}" alt="{% trans "Settings" %}">
                    </span>
                </a>
                <a class="navbar-userAction" href="{% url 'account_logout' %}">
                    <div class="navbar-userAction-text">
                        {% trans "Logout" %}
                    </div>
                    <span class="navbar-userAction-icon">
                        <img src="{% static "images/icons/circle_lock.svg" %}" alt="{% trans "Logout" %}">
                    </span>
                </a>
            </div>

            <a class="cancel" href="#"></a>
        </div>
    </div>
{% endif %}
