{% load static %}
{% load i18n %}

<nav class="uk-background-secondary" uk-navbar="mode: click">
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="{% url 'pages:home' %}">C3E Chat</a>
    </div>

    {% if request.user.is_authenticated %}
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <a class="uk-text-bold">
                        <span uk-icon="icon: chevron-down">{{ request.user }}</span>
                    </a>
                    <div class="uk-navbar-dropdown uk-border-rounded">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li>
                                <a href="{% url 'users:detail' request.user %}"
                                   class="uk-flex uk-flex-between uk-flex-middle">
                                    <span>{% trans "Profile" %}</span>
                                    <span uk-icon="icon: user"></span>
                                </a>
                            </li>
                            <li class="uk-nav-divider"></li>
                            <li>
                                <a href="{% url 'account_logout' %}" class="uk-flex uk-flex-between uk-flex-middle">
                                    <span>{% trans "Sign Out" %}</span>
                                    <span uk-icon="icon: sign-out"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    {% endif %}
</nav>
