{% load checks %}
{% load define %}
{% load guilds %}
{% load static %}
{% load compress %}
{% load i18n %}

<div class="uk-card-header uk-padding-remove">
    <div class="uk-navbar-container uk-navbar-transparent" uk-navbar="duration: 100; offset: 100px;">
        <div class="uk-navbar-left">
            <div class="uk-grid-small uk-flex-middle uk-margin-remove-left" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-rounded" width="40" height="40" src="{{ guild.avatar.url }}"
                         alt="{{ guild.name }}">
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom uk-overflow-hidden">
                        <a class="uk-card-title"
                           href="{% url 'guild:guild_details' guild.id %}">{{ guild.name }}</a>
                        {% if guild.owner == request.user %}
                            <a href="{% url 'guild:guild_settings' guild.id %}">
                                <span class="uk-text-middle" uk-icon="icon: cog"></span>
                            </a>
                        {% endif %}
                    </h3>
                    <p class="uk-text-meta uk-margin-remove-top">
                        <span>{{ guild.members_count }} {% trans "members" %}</span>
                    </p>
                </div>
            </div>
        </div>

        {% if channel %}
            <div class="uk-navbar-center uk-card-title uk-visible@m">
                <span uk-icon="icon: hashtag"></span>
                {{ channel.name }}
            </div>
        {% endif %}

        <div class="uk-navbar-right">
            <a class="uk-navbar-toggle" uk-toggle="target: #offcanvas-overlay">
                <span uk-navbar-toggle-icon></span>
                <span class="uk-margin-small-left">{% trans "Channels" %}</span>
            </a>
        </div>
    </div>
</div>

<div id="offcanvas-overlay" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <ul class="uk-list">
            {% for row in guild|show_channels_and_categories %}
                <li>
                    {% if not row|isinstance:"chat.guilds.models.Category" %}
                        <a href="{% url 'guild:channel_details' guild.id row.id %}" class="uk-link uk-text-muted">
                            <span uk-icon="icon: hashtag"></span>
                            <span>{{ row.name }}</span>
                        </a>
                    {% else %}
                        {% collapsed_category category=row member=request.user as collasped %}
                        <a class="uk-nav-header uk-text-muted" uk-toggle="target: .toggle_{{ row.id }};">
                            <span class="toggle_{{ row.id }}" {% if collasped %}hidden{% endif %}
                                  uk-icon="icon: chevron-down"></span>
                            <span class="toggle_{{ row.id }}" {% if not collasped %}hidden{% endif %}
                                  uk-icon="icon: chevron-right"></span>
                            <span>{{ row.name }}</span>
                        </a>

                        <ul class="uk-list uk-margin-left toggle_{{ row.id }}" {% if collasped %}hidden{% endif %}>
                            {% for channel in row|show_channels_from_category %}
                                <li>
                                    <a href="{% url 'guild:channel_details' guild.id channel.id %}"
                                       class="uk-link uk-text-muted">
                                        <span uk-icon="icon: hashtag"></span>
                                        <span>{{ channel.name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% compress js %}
    <script>
        const UPDATE_CLIENT_ENDPOINT = "{% url "users:update_client" %}";

        function toggle(e) {
            let category_id = Array.from(e.target.classList).filter(cls => {
                return cls.startsWith("toggle_");
            })

            if (category_id.length === 0) return;
            else category_id = category_id[0].slice(7);

            fetch(
                UPDATE_CLIENT_ENDPOINT,
                {
                    method: "PATCH",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: JSON.stringify({
                        action: "collapse_category",
                        values: {
                            category_id: category_id
                        },
                    })
                }
            )
        }

        document.addEventListener("DOMContentLoaded", () => {
            let toggle_id;
            {% for category in guild.categories.all %}
                toggle_id = document.querySelector("ul.toggle_{{ category.id }}");

                toggle_id.addEventListener("hide", toggle)
                toggle_id.addEventListener("show", toggle)
            {% endfor %}
        })
    </script>
{% endcompress %}
