{% load static %}
{% load i18n %}
<div id="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-header-controls">
            <a href="#guild-select">
                <span>{{ guild.name }}</span>
                <div class="chevron">
                    <svg viewBox="0 0 29.9332275390625 19.30755615234375" xmlns="http://www.w3.org/2000/svg">
                        <g transform="matrix(1 0 0 1 -4.2333862304687955 21.6357421875)">
                            <path d="M 19.208 -2.32422 C 19.9219 -2.34082 20.5195 -2.60645 21.0674 -3.1709 L 33.502 -15.9043 C 33.9502 -16.3525 34.166 -16.8672 34.166 -17.5146 C 34.166 -18.8096 33.1367 -19.8389 31.8584 -19.8389 C 31.2275 -19.8389 30.6299 -19.5732 30.165 -19.1084 L 19.208 -7.81934 L 8.23438 -19.1084 C 7.76953 -19.5732 7.18848 -19.8389 6.54102 -19.8389 C 5.2627 -19.8389 4.2334 -18.8096 4.2334 -17.5146 C 4.2334 -16.8838 4.46582 -16.3525 4.89746 -15.9043 L 17.3486 -3.1709 C 17.9131 -2.58984 18.4941 -2.32422 19.208 -2.32422 Z"></path>
                        </g>
                    </svg>
                </div>
            </a>
        </div>
    </div>

    <div class="sidebar-body">
        {% for category_ in guild.categories.all %}
            <fieldset class="sidebar-body-group">
                <legend>{{ category_.name }}</legend>

                {% for channel_ in category_.channels.all %}
                    <a href="{% url "guild:channel_details" guild.uuid channel_.uuid %}" class="sidebar-body-channel {% if channel == channel_ %} active {% endif %}">
                        <span>{{ channel_.name }}</span>
                    </a>
                {% endfor %}
            </fieldset>
        {% endfor %}
    </div>

    <div class="sidebar-footer">
        <div class="sidebar-footer-add">
            <a href="{% url "guild:channel_create" guild.uuid %}">
                <img src="{% static "images/icons/circle_plus.svg" %}" alt="+">
            </a>
        </div>
        <div class="sidebar-footer-edit">
            <a href="{% url "guild:channel_edit" guild.uuid %}" class="link">{% trans "Edit" %}</a>
        </div>
    </div>

    <a class="cancel" href="#"></a>
</div>

<div id="guild-select" class="sidebar-guildSelector">
    <div class="sidebar-guildSelector-arrow"></div>
    <div class="sidebar-guildSelector-container">
        <div class="guildSwitcher">
            {% for guild in guilds %}
                <a href="{% url "guild:guild_view" guild_id=guild.uuid %}" class="guildSwitcher-item-view">
                    <div class="guildSwitcher-item-content">
                        <div class="icon-container">
                            <img src="{{ guild.avatar.url }}"
                                 alt="{{ guild.name }} Icon">
                        </div>
                        <div class="icon-name">
                            <span>{{ guild.name }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

        <div class="links-section">
            <div class="account-settings-link-view">
                <div>
                    <a href="{% url "guild:create" %}">{% trans "Create a guild" %}</a>
                    <span>
                        <svg viewBox="0 0 47.75390625 84.9111328125" xmlns="http://www.w3.org/2000/svg"
                             style="width: 5.421962273565161px; height: 9.640781139554544px;">
                            <g transform="matrix(1 0 0 1 -12.451191406250018 77.685546875)">
                                <path d="M 16.8945 7.17773 C 18.1641 7.17773 19.2383 6.68945 20.0684 5.85938 L 58.7891 -31.9824 C 59.7168 -32.9102 60.2051 -34.0332 60.2051 -35.2539 C 60.2051 -36.5234 59.7168 -37.6953 58.7891 -38.5254 L 20.1172 -76.3184 C 19.2383 -77.1973 18.1641 -77.6855 16.8945 -77.6855 C 14.3555 -77.6855 12.4512 -75.7324 12.4512 -73.1934 C 12.4512 -72.0215 12.9395 -70.8496 13.7207 -70.0195 L 49.2676 -35.2539 L 13.7207 -0.488281 C 12.9395 0.341797 12.4512 1.46484 12.4512 2.68555 C 12.4512 5.22461 14.3555 7.17773 16.8945 7.17773 Z"></path>
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <a class="cancel" href="#"></a>
</div>
