{% load static %}
{% load i18n %}

<div class="uk-card uk-card-default uk-width-1-1">
    <div class="uk-card-header">
        <div class="uk-card-title">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-rounded" width="40" height="40" src="{{ guild.avatar.url }}"
                         alt="{{ guild.name }}">
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom uk-overflow-hidden">{{ guild.name }}</h3>
                    <p class="uk-text-meta uk-margin-remove-top">
                        <span>{{ guild.members_count }} {% trans "members" %}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <div class="uk-flex uk-flex-column">
            {% if guild.channels.all %}
                {% for i in "0123456789"|make_list %}
                    <a href="{{ i }}">Channel #{{ i }}</a>
                {% endfor %}
            {% else %}
                <i class="text-muted">{% trans "No channel..." %}</i>
            {% endif %}
        </div>

    </div>
    {% if guild.owner == request.user %}
        <div class="uk-card-footer">
            <a href="{% url 'guild:guild_settings' guild.uuid %}">{% trans 'Guild settings' %}</a>
        </div>
    {% endif %}
</div>
