{% load static %}
{% load debug %}
{% load markdown %}
{% load i18n %}
{% load humanize %}

<div
        class="message
{% if message.author == request.user %}message-me {% endif %}
{% if message.previous.author == message.author %}no-radius-top {% endif %}
{% if message.next.author == message.author %}no-radius-bottom {% endif %}
"
        id="{{ message.uuid }}">
    <img class="messageAvatar"
         src="
{% if message.author.avatar.url %}
{{ message.author.avatar.url }}
{% else %}
{% static "images/icons/circle_user.svg" %}
{% endif %}
"
         aria-hidden="true" alt="" loading="lazy">
    <div class="messageHeader">
        <span class="username">
            {{ message.author }}
        </span>

        <span class="timestamp">
            <time title="{{ message.created_at }}" aria-label="{{ message.created_at|naturaltime }}"
                  datetime="{{ message.created_at|date:"c" }}">
                {{ message.created_at|naturaltime }}
            </time>
        </span>
    </div>
    <div class="messageContent">
        <div class="content">
            {{ message.content }}
        </div>

        {% if message.attachments.all %}
            <div class="attachments">
                <ul>
                    {% for attachment in message.attachments.all %}
                        <li>
                            <a target="_blank" class="link"
                               href="{{ attachment.file.url }}">.{{ attachment.extension }} {% trans "file" %}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>


    {% if message.author == request.user %}
        <div class="messageAction">
            <form action="">
                <button type="submit">x</button>
            </form>
        </div>
    {% endif %}
</div>
