{% load utils %}
{% load define %}
{% load static %}
{% load debug %}
{% load markdown %}
{% load i18n %}
{% load humanize %}
{% load humanize_plus %}

{% if message.author.settings.avatar %}
    {% define message.author.settings.avatar.url as messageAvatar %}
{% else %}
    {% static "images/icons/circle_user.svg" as messageAvatar %}
{% endif %}

<article class="uk-alert uk-comment uk-position-relative uk-padding-small uk-margin-small uk-border-rounded
        message {% if message.author == request.user %}message-me uk-alert-success{% else %}uk-alert-primary{% endif %}
        uk-box-shadow-hover-medium uk-text-secondary">

    <header class="uk-comment-header">
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-comment-avatar" src="{{ messageAvatar }}" width="42" height="42" alt="">
            </div>
            <div class="uk-width-expand">
                <h4 class="uk-comment-title uk-margin-remove">
                    <a class="uk-link-reset" target="_blank"
                       href="{% url 'users:detail' message.author %}">{{ message.author }}</a>
                </h4>

                <div class="uk-overflow-auto">
                    <ul class="uk-comment-meta uk-subnav-divider uk-subnav uk-margin-remove-top">
                        {% with attachments=message.attachments %}
                            {% if attachments %}
                                {% for attachment in attachments.all %}
                                    <li>
                                        <a target="_blank" class="link" href="{{ attachment.file.url }}">
                                            {{ attachment.filename|bold_extension }}
                                            <span>({{ attachment.file.size|naturalsize }})</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </ul>
                </div>

            </div>
        </div>
    </header>

    <div class="uk-comment-body">
        <p id="{{ message.id }}">{% trans "Loading..." %}</p>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                function _decipher_message_{{ message.id|replace:"-|_" }}() {
                    document.getElementById("{{ message.id }}").innerText = (
                        decipher(
                            {box: '{{ message.content }}', nonce: '{{ message.nonce }}'},
                            '{{ message.author.id }}'
                        )
                    );
                }

                (async () => {
                    while (!window.hasOwnProperty("recipients"))
                        await new Promise(resolve => setTimeout(resolve, 100));
                    _decipher_message_{{ message.id|replace:"-|_" }}();
                })();

            });
        </script>
    </div>
</article>
