<!-- BASE -->
<script>
    async function generateDeriveKey() {
        const keyPair = await window.crypto.subtle.generateKey(
            {
                name: "ECDH",
                namedCurve: "P-256",
            },
            true,
            ["deriveKey", "deriveBits"]
        );

        const publicKeyJwk = await window.crypto.subtle.exportKey(
            "jwk",
            keyPair.publicKey
        );

        const privateKeyJwk = await window.crypto.subtle.exportKey(
            "jwk",
            keyPair.privateKey
        );

        const publicKey = await window.crypto.subtle.importKey(
            "jwk",
            publicKeyJwk,
            {
                name: "ECDH",
                namedCurve: "P-256",
            },
            true,
            []
        );

        const privateKey = await window.crypto.subtle.importKey(
            "jwk",
            privateKeyJwk,
            {
                name: "ECDH",
                namedCurve: "P-256",
            },
            true,
            ["deriveKey", "deriveBits"]
        );

        return await window.crypto.subtle.deriveKey(
            {name: "ECDH", public: publicKey},
            privateKey,
            {name: "AES-GCM", length: 256},
            true,
            ["encrypt", "decrypt"]
        );
    }
</script>

<!-- ENCRYPTION -->
<script>
    async function encrypt(text, derivedKey) {
        const encodedText = new TextEncoder().encode(text);
        const iv = new TextEncoder().encode("Initialization Vector");

        const encryptedData = await window.crypto.subtle.encrypt(
            {name: "AES-GCM", iv: iv},
            derivedKey,
            encodedText
        );

        const uintArray = new Uint8Array(encryptedData);

        return {
            base64Data: btoa(String.fromCharCode.apply(null, uintArray)),
            initializationVector: iv
        }
    }
</script>

<!-- DECRYPTION -->
<script>
    async function decrypt(message, derivedKey) {
        try {
            const text = message.base64Data;
            const initializationVector = new Uint8Array(message.initializationVector).buffer;

            const string = atob(text);
            const uintArray = new Uint8Array(
                [...string].map((char) => char.charCodeAt(0))
            );
            const algorithm = {
                name: "AES-GCM",
                iv: initializationVector,
            };
            const decryptedData = await window.crypto.subtle.decrypt(
                algorithm,
                derivedKey,
                uintArray
            );

            return new TextDecoder().decode(decryptedData);
        } catch (e) {
            return `error decrypting message: ${e}`;
        }
    }
</script>

<!-- TEST -->
<script>
    (async () => {
        const deriveKey = await generateDeriveKey();

        window.encryptedText = {
            "base64Data": "Azfvyy3tUZZdl5jEpLtRIThcr0UGFtvTEMraTag=",
            "initializationVector": {
                "0": 73,
                "1": 110,
                "2": 105,
                "3": 116,
                "4": 105,
                "5": 97,
                "6": 108,
                "7": 105,
                "8": 122,
                "9": 97,
                "10": 116,
                "11": 105,
                "12": 111,
                "13": 110,
                "14": 32,
                "15": 86,
                "16": 101,
                "17": 99,
                "18": 116,
                "19": 111,
                "20": 114
            }
        }

        window.decryptedText = await decrypt(encryptedText, deriveKey);
    })()
</script>