{% extends "layouts/base.html" %}
{% load i18n %}
{% load utils %}


{% block title %}{{ room_name.name }} - {{ APP_NAME }}{% endblock %}

{% block inline_stylesheet %}
    <style>
        #message_input:focus {
            outline: none;
            border: 1px solid #e5e5e5;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="uk-padding-small uk-card-body uk-overflow-auto" id="messages"
         uk-height-viewport="offset-top: true; offset-bottom: true">
        {% with messages=room_messages %}
            {% if messages %}
                {% for message in messages %}
                    {% include "layouts/components/message/block.html" with message=message %}
                {% endfor %}
            {% else %}
                <div class="uk-text-center">
                    {% trans "No message..." %}
                </div>
            {% endif %}
        {% endwith %}
    </div>

    <div class="uk-card-footer">
        <form id="message_form">
            <label class="uk-flex">
                {#                <button class="uk-button uk-button-default uk-padding-small uk-padding-remove-vertical">#}
                {#                    <span uk-icon="icon: plus-circle"></span>#}
                {#                </button>#}

                <textarea id="message_input" class="uk-textarea"
                          style="resize: none; max-height: 20vh" autofocus
                          rows="2" placeholder="Message {{ room_name }}"
                ></textarea>

                <button type="submit"
                        class="uk-button uk-button-primary uk-padding-small uk-padding-remove-vertical">
                    <span uk-icon="icon: forward"></span>
                </button>
            </label>
        </form>
    </div>
{% endblock %}

{% block inline_javascript %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            if (window.keyPair === undefined) {
                window.keyPair = window.sessionStorage.getItem("keySet").split("|");
            }

            window.usableKeyPair = constructKeyPair(keyPair);

            const messages = document.getElementById("messages");
            const textarea = document.getElementById("message_input");
            const attachments = undefined;

            const form = document.getElementById("message_form");


            const observer = new MutationObserver(function (mutations) {
                mutations.forEach(function (mutationRecord) {
                    const style = mutationRecord.target.style;

                    if (style) {
                        style.maxHeight = style.minHeight;
                    }

                    messages.scrollTop = messages.scrollHeight;
                });
            });

            observer.observe(messages, {attributes: true, attributeFilter: ['style']});


            function send_message() {
                if (!window.recipients) {
                    UIkit.notification({
                        message: '{% trans "Please wait few seconds..." %}',
                        pos: 'top-right',
                        status: 'primary'
                    });
                    return

                }
                for (const [recipient_id, recipient_pubKey] of Object.entries(recipients)) {
                    const sharedKey = nacl.box.before(nacl.util.decodeBase64(recipient_pubKey), usableKeyPair.secretKey);

                    const nonce = nacl.randomBytes(24);

                    const box = nacl.box.after(
                        nacl.util.decodeUTF8(textarea.value),
                        nonce,
                        sharedKey
                    );
                    const message = {box, nonce};

                    ws.send(JSON.stringify({
                        cmd: "POST_MESSAGE",
                        data: {
                            content: nacl.util.encodeBase64(message.box),
                            nonce: nacl.util.encodeBase64(message.nonce),
                            recipient: recipient_id
                        }
                    }));
                }

                textarea.value = "";
            }

            function add_message(data) {
                if (data.recipient !== me) return;

                const new_message = createMessage(data);
                messages.insertAdjacentHTML("beforeend", new_message);
                messages.scrollTop = messages.scrollHeight;
            }

            form.addEventListener("submit", (e) => {
                e.preventDefault();
                send_message();
            });

            textarea.addEventListener("keyup", (e) => {
                if (e.key === "Enter") {
                    if (e.ctrlKey) textarea.value += "\n";
                    else send_message();
                }
            });

            window.add_message = add_message;
        });

    </script>
{% endblock %}
