{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{{ channel.name }} - {{ APP_NAME }}{% endblock %}

{% block inline_stylesheet %}
    <style>
        #message_input:focus {
            outline: none;
            border: 1px solid #e5e5e5;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="uk-padding-small uk-card-body uk-padding-remove-bottom uk-overflow-auto" id="messages"
         uk-height-viewport="offset-top: true; offset-bottom: true">
        {% with messages=channel.messages.all %}
            {% if messages %}
                {% for message in messages %}
                    {% include "layouts/components/message/block.html" with message=message %}
                {% endfor %}
            {% else %}
                {#                            <div class="uk-text-center">#}
                {#                                {% trans "No message..." %}#}
                {#                            </div>#}

                {% for message in "x"|rjust:"20" %}
                    {% include "layouts/components/message/block.html" with message=message %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="uk-card-footer">
        <form id="message_form">
            <label class="uk-flex">
                <button class="uk-button uk-button-default uk-padding-small uk-padding-remove-vertical">
                    <span uk-icon="icon: plus-circle"></span>
                </button>

                <textarea id="message_input" class="uk-textarea"
                          style="resize: none; max-height: 20vh" autofocus
                          rows="2" placeholder="Message {{ channel }}"
                ></textarea>

                <button type="submit"
                        class="uk-button uk-button-primary uk-padding-small uk-padding-remove-vertical">
                    <span uk-icon="icon: forward"></span>
                </button>
            </label>
        </form>
    </div>
{% endblock %}

{% block inline_javascript %}
    <script>
        const messages = document.getElementById("messages");
        const textarea = document.getElementById("message_input");
        const form = document.getElementById("message_form");

        const POST_MESSAGE_ENDPOINT = "{% url 'guild:channel_details' guild.id channel.id %}"

        //////////////////////////////////////////////////////

        const observer = new MutationObserver(function (mutations) {
            mutations.forEach(function (mutationRecord) {
                const style = mutationRecord.target.style;

                if (style) {
                    style.maxHeight = style.minHeight;
                    observer.disconnect();
                }

                messages.scrollTop = messages.scrollHeight;
            });
        });

        observer.observe(messages, {attributes: true, attributeFilter: ['style']})

        //////////////////////////////////////////////////////

        function send_message() {
            const formData = new FormData();
            formData.append("content", textarea.value);
            formData.append("attachments", undefined);

            fetch(
                POST_MESSAGE_ENDPOINT,
                {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: formData
                }
            )
        }

        form.addEventListener("submit", (e) => {
            e.preventDefault();
            send_message();
        })

        textarea.addEventListener("keyup", (e) => {
            if (e.key === "Enter") {
                send_message();
            }
        })

    </script>
    {% include "layouts/components/message/decryptor.html" %}
{% endblock %}
