#home {
    width: 100%;
    height: 100%;

    .home-container {
        padding-top: 3em;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        .home-hello-avatar {
            margin: 1em 0;

            display: flex;
            justify-content: center;
        }

        .home-hello-text {
            text-align: center;

            font-size: 2em;
            font-weight: 600;
        }

        .home-hello-settings {
            margin-bottom: 5em;
            margin-top: 1em;

            a {
                font-size: 1.2em;
                font-weight: 500;
            }
        }

        .home-guilds {
            overflow: scroll;
            overflow-x: hidden;

            max-height: calc(100vh / 2.5);
        }
    }
}