@import "imports.scss";

* {
    box-sizing: border-box;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;

    &:focus {
        outline: none;
        box-shadow: 0 0 3px 3px rgba(131, 192, 253, .5);
    }
}

body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

a:hover {
    cursor: pointer;
}

#app {
    width: 100%;
    height: 100%;

    display: flex;
}