@import "variables";
@import "fixes/fixes";

@import "components/message";

body {
    background-color: $background;
    min-height: 100vh;
}

.text-monospace {
    font-family: monospace!important;
}
