@import "imports.scss";

* {
    box-sizing: border-box;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;

    color: $color;
    fill: $color;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px $outline-color;
    }

    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        background-color: transparent;
        border: none;
        display: block;
        position: absolute;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, .5);
        border-radius: 7px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, .6);
    }

    &::-webkit-scrollbar-thumb:active {
        background: rgba(0, 0, 0, .7);
    }

    scrollbar-color: rgba(0, 0, 0, .5) transparent;
}

body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background: $background-color;
    color: $color;
}

a:hover {
    cursor: pointer;
}

#app {
    width: 100%;
    height: 100%;

    display: flex;

    overflow: hidden;
}