{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "First Connect" %}{% endblock %}

{% block content %}
    <div class="uk-card-body">
        <h1 class="uk-card-title uk-text-center">{% trans "Things you need to know" %}</h1>

        <div class="uk-alert uk-alert-primary">
            <p>
                {% blocktrans %}
                    Please note that this mnemonic cannot be changed or retrieved from your account
                    under any circumstances.<br>
                    Therefore, it is important that you keep it in a safe place.
                {% endblocktrans %}
            </p>
        </div>

        <div class="uk-margin">
            <p>
                {% trans "Choose the mnemonic you want to save." %}
            </p>
        </div>

        {% for lang_name, mnemonic in mnemonics.items %}
            <hr>
            <form action="{% url 'users:first_connect' page='next' %}" method="post">
                {% csrf_token %}

                <input type="hidden" name="public_key" value="">

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}"
                           value="{{ redirect_field_value }}"/>
                {% endif %}

                <fieldset class="uk-fieldset">
                    <legend class="uk-legend">{{ lang_name }}</legend>

                    <div class="uk-margin uk-grid-small" uk-grid>
                        <div class="uk-width-expand@m uk-width-1-1">
                            <label class="uk-form-label">
                                <input class="uk-input text-monospace" name="mnemonic" type="text"
                                       value="{{ mnemonic }}">
                            </label>
                        </div>
                        <div class="uk-width-auto@m uk-width-1-1">
                            <button type="submit" class="uk-button uk-button-primary uk-width-1">
                                {% trans "Choice" %}
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        {% endfor %}
    </div>

    {% block inline_javascript %}
        <script>
            const keyPair = window.sessionStorage.getItem("keySet").split("|");

            document.querySelectorAll("input[name='public_key']").forEach(input => {
                input.value = keyPair[0];
            });
        </script>
    {% endblock inline_javascript %}
{% endblock %}
