.form {
    outline: none;
    position: relative;

    .inline {
        display: inline-block;
        position: relative;
        vertical-align: middle;

        width: 100%;

        .form-icon {
            position: absolute;

            left: .5em;

            height: 3.125em;

            display: inline-flex;
            justify-content: center;
            align-items: center;

            color: #666;
            background-color: inherit;

            border: none;

            animation-name: co-fade-in;
            animation-duration: .25s;

            .svg {
                background: #666;
                opacity: $hover-opacity;
            }
        }

        .form-icon-flip {
            right: .5em;
            left: auto;
        }
    }

    .form-progressive {
        .inline {
            .input {
                margin-bottom: 0;
            }

            &:not(:first-child) {
                .input {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }

                &:not(.visible) {
                    * {
                        visibility: hidden;
                    }
                }
            }

            &.no-radius {
                .input {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
    }

    .form-separator {
        max-width: 80%;

        margin: auto;
        border-top: 1px solid #e6e6e6;
    }

    .form-logo {
        box-shadow: $box-shadow;
        border-radius: 23%;

        width: 5em;
        height: 5em;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            opacity: $hover-opacity;
            cursor: pointer;
        }

        &.form-logo-large {
            width: 15em;
            height: 15em;
        }
    }
}

input, button {
    border: 1px solid #d6d6d6;
    border-radius: 4px;

    color: #494949;

    background: #fff;
    background-clip: padding-box;
}

.input {
    font-size: 1.25em;
    line-height: 1.25em;
    font-weight: 400;
    letter-spacing: -.021em;

    display: inline-block;
    vertical-align: top;

    width: 100%;
    height: 2.125em;

    margin-bottom: 1em;

    padding-left: .8em;
    padding-right: .8em;

    text-align: left;

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 2px $outline-color;
    }

    &.input-icon-left {
        padding-left: 2.125em
    }

    &.input-icon-right {
        padding-right: 2.125em
    }
}

.input-error {
    border: 1px solid #f66;
}

.checkbox {
    width: 1.25em;
    height: 1.25em;

    appearance: none;

    border: none;

    margin: 0;

    box-sizing: border-box;
    position: relative;

    &:checked {
        background: #0070c9;

        &:before {
            position: absolute;
            left: 1px;

            color: #fff;
            content: "✓";

            font-size: 1.25em;
            line-height: 1em;
            font-weight: 600;
        }
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px $outline-color;
    }
}

.label {
    cursor: pointer;

    span {
        display: inline;

        color: inherit;
        letter-spacing: -.021em;

        padding-top: 0;
        padding-left: .5em;

        font-size: 1.125em;
        line-height: 1.125em;
        font-weight: 400;

        position: relative;
        vertical-align: top;
    }
}
