.table {
    text-align: center;
    border-collapse: collapse;

    th, td {
        padding: .5em 0;
    }

    th {
        background-color: $sidebar-background-color;
        color: $color
    }

    tr {
        border-bottom: 1px solid $sidebar-border-color;

        &:hover {
            background: darken($background-color, 2%)   ;
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}