.table {
    text-align: center;
    border-collapse: collapse;
    background-color: white;

    th, td {
        padding: 8px;
    }

    th {
        background-color: $sidebar-background-color;
        color: #fff
    }

    tr {
        border-bottom: 1px solid $sidebar-border-color;

        &:hover {
            background: #ffd;
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}