#footer {
    border-top: 1px solid $sidebar-border-color;
    background: $sidebar-background-color;


    min-height: calc(#{$min-header-height} * 2.3);
    height: calc(#{$header-height} * 2.3);
    width: 100%;

    .form {
        height: 100%;
        padding: 1em;

        textarea {
            padding: .5em 3em;

            font-size: 1em;
        }
    }
}