#navbar {
    min-height: $min-header-height;
    height: $header-height;
    width: 100%;

    background: $nav-background-color;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 1em;

    padding: 0 1em;

    font-size: 1.125em;
    font-weight: 300;

    .navbar-guild, .navbar-home {
        display: flex;

        align-items: center;
        justify-content: center;

        * {
            text-decoration: none;
        }

        a {
            font-size: 1.325em;
            font-weight: 600;
        }
    }

    .navbar-guild {
        display: flex;
        height: $header-height;
        align-items: center;
        justify-content: center;


        * {
            color: $color;
            fill: $color;
            text-decoration: none;
        }

        a {
            font-size: 1.325em;
            font-weight: 600;
        }
    }

    .navbar-title {
        overflow: hidden;

        a {
            &, * {
                color: $color;
                text-decoration: none;

                white-space: nowrap;
                overflow: hidden;
            }

            display: flex;

            &::before {
                content: "#";
                opacity: .4;

                font-weight: 600;
                margin-right: .5ch;
            }
        }
    }

    .navbar-settings {
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

.navbar-userSettings {
    transform-origin: 50% 0;

    height: max-content;
    width: 258px;

    position: fixed;
    background: $background-color;
    display: none;

    border: 1px solid $sidebar-border-color;
    box-shadow: $box-shadow;

    border-radius: 8px;

    z-index: 2;
    padding: 0;

    top: 50px;
    bottom: 0;
    left: auto;
    right: 11px;

    .cancel {
        transform: translateX(calc(10px - 100vw + 258px)) translateY(-51px);

        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        cursor: default;

        z-index: -1;
    }

    &:target {
        display: block;
    }

    .navbar-userSettings-arrow {
        transform: translate(200px, -9px);
        position: absolute;

        background-size: 19px 9px;

        width: 19px;
        height: 9px;

        &::before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent $background-color transparent;
            position: absolute;
        }
    }

    .navbar-userSettings-container {
        .navbar-userAction {
            border-top: 1px solid $sidebar-border-color;

            display: flex;
            justify-content: space-between;
            align-items: center;

            text-decoration: none;

            &:first-child {
                border: none;
            }

            margin: 0 1em;
            padding: .5em .4em;

            .navbar-userAction-text {
                font-size: 1em;
                font-weight: 400;
                color: $color;
            }

            .navbar-userAction-icon {
                display: flex;

                &, * {
                    opacity: $hover-opacity;

                    color: $color;
                    fill: $color;
                }
            }
        }
    }
}


@media only screen and (min-width: 950px) {
    #navbar {
        .navbar-guild {
            display: none;
        }

        .navbar-title a .svg {
            display: none;
        }
    }
}

@media only screen and (max-width: 950px) {
    #sidebar:target ~ #body > #navbar {
        .navbar-guild {
            display: none;
        }
    }
}