$sidebar-color: #fff;
$width: 250px;

$header-height: 44px;
$footer-height: 44px;


#sidebar {
    background: $sidebar-background-color;

    min-width: $width;
    height: 100%;

    display: flex;
    flex-direction: column;

    grid-area: sidebar;

    .sidebar-header, .sidebar-body, .sidebar-footer {
        border-right: 1px solid $sidebar-border-color;
    }

    .sidebar-header {
        background: $nav-background-color;
        height: $header-height;

        .sidebar-header-controls {
            display: flex;
            height: $header-height;
            width: 100%;
            align-items: center;
            justify-content: center;


            a {
                display: flex;

                font-size: 1.325em;
                font-weight: 600;

                text-decoration: none;

                &, * {
                    color: $color;
                    fill: $color;
                }
            }
        }
    }

    .sidebar-body {
        &::-webkit-scrollbar {
            display: none;
        }

        flex: 1;

        border-top: 1px solid $sidebar-border-color;
        border-bottom: 1px solid $sidebar-border-color;

        overflow: scroll;
        overflow-x: hidden;

        .sidebar-body-group {
            border: none;

            margin-inline-start: 0;
            margin-inline-end: 0;

            padding-inline-start: 0;
            padding-inline-end: 0;

            padding-block-start: 0;
            padding-block-end: 0;

            legend {
                background-color: darken($sidebar-background-color, 2%);
                color: darken($sidebar-color, 10%);

                width: 100%;
                height: 3em;

                padding-left: 1ch;

                font-weight: 600;
                line-height: 3em;
            }

            .sidebar-body-channel {
                padding-left: 2ch;
            }
        }

        .sidebar-body-channel {
            height: 2em;
            line-height: 2em;

            font-size: 1.025em;
            color: darken($sidebar-color, 10%);

            border-top: 1px solid $sidebar-border-color;
            text-decoration: none;

            display: block;

            padding-left: 1ch;

            &:first-of-type {
                border-top: none;
            }

            &.active {
                text-decoration: underline;
                opacity: 1;
            }

            &:hover {
                background-color: darken($sidebar-background-color, 5%);
            }

            ::before {
                content: "#";
                opacity: .5;

                font-weight: 600;
                margin-right: .5ch;
            }
        }
    }

    .sidebar-footer {
        height: $footer-height;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 1em;

        overflow: hidden;

        a:hover {
            opacity: $hover-opacity;
        }

        .sidebar-footer-add {
            height: $footer-height;

            display: flex;
            align-items: center;

            a {
                height: $footer-height;

                display: flex;
                align-items: center;
            }
        }

        .sidebar-footer-edit {
            height: $footer-height;

            display: flex;
            align-items: center;

            a {
                color: $sidebar-color;
                font-size: 1em;

            }
        }
    }
}

.sidebar-guildSelector {
    height: fit-content;
    width: 642px;
    max-width: calc(100% - 20px);

    position: fixed;
    background: $background-color;
    display: none;

    border: 1px solid $sidebar-border-color;
    box-shadow: $box-shadow;

    border-radius: 8px;

    z-index: 2;
    padding: 0;

    top: 50px;
    bottom: 0;
    left: 11px;
    right: auto;

    .cancel {
        transform: translateX(-12px) translateY(-51px);

        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        cursor: default;

        z-index: -1;
    }

    &:target {
        display: block;
    }

    .sidebar-guildSelector-arrow {
        transform: translate(87px, -9px);
        position: absolute;

        background-size: 19px 9px;

        width: 19px;
        height: 9px;

        &::before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent $background-color transparent;
            position: absolute;
        }
    }

    .sidebar-guildSelector-container {
        padding: 15px 8px;

        .guildSwitcher {
            max-height: 230px;
        }

        .links-section {
            border-top: 1px solid $sidebar-border-color;
            margin: 8px 8px 0;

            .account-settings-link-view {
                display: inline-block;

                div {
                    padding: 13px 13px 0;
                    font-size: 15px;
                    font-weight: 500;
                    justify-content: center;
                    position: relative;

                    a {
                        color: $anchor-color;
                        padding-right: 4px;
                    }

                    span {
                        fill: $anchor-color;
                        top: 1px;
                        position: relative;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 950px) {
    #sidebar {
        display: none;

        &:target {
            display: flex;
        }

        .cancel {
            position: absolute;
            top: 0;
            right: 0;

            width: calc(100vw - #{$width});
            height: 100vh;

            cursor: default;

            z-index: 1;

            &:focus {
                box-shadow: none;
            }
        }
    }
}