{% load static %}
{% load i18n %}
{% load compress %}
{% load uikit %}

{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ APP_NAME }}{% endblock title %}</title>


    <meta name="description" content="C3E Chat">
    <meta name="author" content="EFREI L3 #25">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
        {% compress css %}
            <link href="{% static 'css/libs/uikit/uikit.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/project.css' %}" rel="stylesheet">
            {% block inline_stylesheet %}{% endblock inline_stylesheet %}
        {% endcompress %}
    {% endblock %}

    {% block javascript %}
        {% compress js %}
            <script defer src="{% static 'js/libs/uikit/uikit.js' %}"></script>
            <script defer src="{% static 'js/libs/uikit/uikit-icons.js' %}"></script>
            <script defer src="{% static 'js/components/message.js' %}"></script>
            <script defer src="{% static 'js/libs/CryptoJS.js' %}"></script>
            <script defer src="{% static 'js/libs/tweetnacl/nacl.min.js' %}"></script>
            <script defer src="{% static 'js/libs/tweetnacl/nacl-util.min.js' %}"></script>
            <script defer src="{% static 'js/project.js' %}"></script>
        {% endcompress %}
    {% endblock javascript %}
</head>

<body>

<div id="app" class="uk-flex uk-flex-column uk-height-viewport uk-text-light">
    {% block navbar %}
        {% include 'layouts/parts/navbar.html' %}
    {% endblock navbar %}

    <div class="uk-animation-fade uk-animation-fast uk-flex-1 uk-padding-remove-horizontal uk-padding-remove-bottom
            {% if not SHOW_SIDEBAR %}uk-padding-large{% else %}uk-card-shadow{% endif %}">
        <div {% if SHOW_SIDEBAR %} class="uk-grid-small" uk-grid {% else %} class="uk-container" {% endif %}>
            <div class="uk-width-1-1@m">
                <div class="uk-margin uk-margin-auto
                    {% block content_class %}{% endblock content_class %} uk-card uk-card-default">
                    {% if SHOW_SIDEBAR %}
                        {% include 'layouts/parts/sidebar.html' %}
                    {% endif %}

                    {% block content_header %}{% endblock content_header %}

                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
        <script>
            window.addEventListener("load", () => {
                {% for message in messages %}
                    UIkit.notification({
                        message: '{{ message }}',
                        pos: 'top-right',
                        status: {% if message.tags %} '{{ message.tags|tags_parser  }}'  {% else %}
                            'primary' {% endif %}
                    });
                {% endfor %}
            })
        </script>
    {% endif %}

    {% if user.is_authenticated %}
        {% if room_name %}
            <div id="ws_error_modal" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <h2 class="uk-modal-title uk-text-danger">WebSocket Error</h2>
                    <p>
                        {% blocktrans %}
                            The connection with the websocket could not be established,
                            this problem can either come from your connection rules on the network,
                            or from a problem on the server.<br>
                            You can ignore this error and view your messages without the automatic refresh,
                            or try reloading the page.
                        {% endblocktrans %}
                    </p>
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close"
                                type="button">{% trans "Dismiss" %}</button>
                        <a href="{{ request.get_full_path }}" class="uk-button uk-button-primary"
                           type="button">{% trans "Reload" %}</a>
                    </p>
                </div>
            </div>

            <script>
                window.room_name = {
                    id: '{{ room_name.id }}',
                    guild: {
                        name: '{{ room_name.guild.name }}',
                        id: '{{ room_name.guild.id }}',
                    },
                }
            </script>

            {% compress js %}
                <script src="{% static 'js/ws.js' %}"></script>
            {% endcompress %}
        {% endif %}

        <div id="private_key_modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title uk-text-info">Enter your private key</h2>

                <div id="invalid_private_key" class="uk-hidden uk-alert uk-alert-danger">
                    <p>{% trans "Invalid private key passed" %}</p>
                </div>

                <p>
                    {% blocktrans %}
                        thank you to inform your private key in order to be able to read and send messages. <br>
                        We remind you that this last one remains only on your navigator and is not in no case
                        communicated to the server
                    {% endblocktrans %}
                </p>
                <label>
                    <input id="private_key" type="text" class="uk-input" placeholder="Private key">
                </label>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close"
                            type="button">{% trans "Enter" %}</button>
                </p>
            </div>
        </div>

        <script>
            window.me = '{{ user.id }}';

            document.addEventListener("DOMContentLoaded", () => {
                let private_key = document.getElementById("private_key");
                let invalid_private_key = document.getElementById("invalid_private_key");

                invalid_private_key.classList.add("uk-hidden");

                if (window.sessionStorage.getItem("keySet") === null) {
                    let keySet_modal = UIkit.modal(document.getElementById("private_key_modal"));
                    keySet_modal.show();

                    UIkit.util.on(keySet_modal.$el, "hidden", () => {
                        try {
                            window.keyPair = nacl.box.keyPair.fromSecretKey(nacl.util.decodeBase64(private_key.value));

                            window.sessionStorage.setItem(
                                "keySet",
                                `${nacl.util.encodeBase64(keyPair.publicKey)}|${nacl.util.encodeBase64(keyPair.secretKey)}`
                            );
                            location.reload();
                        } catch (e) {
                            invalid_private_key.classList.remove("uk-hidden");
                            keySet_modal.show();
                        }
                    })
                }
            });
        </script>
    {% endif %}

    <script>
        addEventListener("offline", () => {
                UIkit.notification({
                    message: '<span uk-icon=\'icon: warning\'></span> {% trans "Internet connection goes offline" %}',
                    pos: 'top-right',
                    status: 'warning'
                })
            }
        )
    </script>
</div>

{% block inline_javascript %}{% endblock inline_javascript %}

</body>
</html>
