{% load static %}
{% load i18n %}
{% load compress %}
{% load uikit %}

{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ APP_NAME }}{% endblock title %}</title>


    <meta name="description" content="E2EE Chat">
    <meta name="author" content="Romain J.">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
        {% compress css %}
            <link href="{% static 'css/libs/uikit/uikit.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/project.css' %}" rel="stylesheet">
            {% block inline_stylesheet %}{% endblock inline_stylesheet %}
        {% endcompress %}
    {% endblock %}

    {% block javascript %}
        {% compress js %}
            <script defer src="{% static 'js/libs/uikit/uikit.js' %}"></script>
            <script defer src="{% static 'js/libs/uikit/uikit-icons.js' %}"></script>
            <script defer src="{% static 'js/project.js' %}"></script>
        {% endcompress %}
    {% endblock javascript %}
</head>

<body>

<div id="app" class="uk-flex uk-flex-column uk-height-viewport uk-text-light">
    {% block navbar %}
        {% include 'layouts/parts/navbar.html' %}
    {% endblock navbar %}

    <div class="uk-animation-fade uk-animation-fast uk-flex-1 uk-padding-remove-horizontal uk-padding-remove-bottom
            {% if not SHOW_SIDEBAR %}uk-padding-large{% else %}uk-card-shadow{% endif %}">
        <div {% if SHOW_SIDEBAR %} class="uk-grid-small" uk-grid {% else %} class="uk-container" {% endif %}>
            <div class="uk-width-1-1@m">
                <div class="uk-margin uk-margin-auto
                    {% block content_class %}{% endblock content_class %} uk-card uk-card-default">
                    {% if SHOW_SIDEBAR %}
                        {% include 'layouts/parts/sidebar.html' %}
                    {% endif %}

                    {% block content_header %}{% endblock content_header %}

                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
        <script>
            window.addEventListener("load", () => {
                {% for message in messages %}
                    UIkit.notification({
                        message: '{{ message }}',
                        pos: 'top-right',
                        status: {% if message.tags %} '{{ message.tags|tags_parser  }}'  {% else %}
                            'primary' {% endif %}
                    });
                {% endfor %}
            })
        </script>
    {% endif %}
</div>


{% block modal %}{% endblock modal %}

{% block inline_javascript %}{% endblock inline_javascript %}

</body>
</html>
