.uk-navbar {
    &.uk-background-secondary {
        .uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle {
            color: #fff;
            min-height: unset;
        }
    }

    .uk-navbar-dropdown {
        padding: 10px;
    }

    .uk-logo > img {
        height: 42px;
    }
}
