@import "../variables";

.uk-offcanvas-bar {
    min-width: fit-content;
    border-right: 5px solid transparent;

    &::-webkit-scrollbar {
        background: transparent;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: darken($background, 3%);
        border-radius: 8px;

        &:hover {
            background: darken($background, 15%);
        }
    }
}
