{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{{ guild.name }} - {{ APP_NAME }}{% endblock %}

{% block content %}
    <div class="uk-card-body" uk-height-viewport="offset-top: true; offset-bottom: true">
        <div class="uk-overflow-auto">
            <table id="guildDetails" aria-label="messages" class="uk-table">
                <thead>
                <tr>
                    <th scope="col" class="uk-width-auto">{% trans "Channel" %}</th>
                    <th scope="col" class="uk-width-expand">{% trans "Last message" %}</th>
                    <th scope="col">{% trans "Messages" %}</th>
                </tr>
                </thead>
                <tbody>
                {% if latest_channels %}
                    {% for channel in latest_channels %}
                        <tr>
                            <td>
                                <a class="uk-link"
                                href="{% url 'guild:channel_details' guild.id channel.id %}">{{ channel }}</a>
                            </td>
                            <td class="uk-overflow-auto">
                                {% if channel.last_message %}
    {#                                {% include "layouts/components/message/block.html" with message=channel.messages.first %}#}
                                    <b class="uk-text-bold">[{{ channel.last_message.author }}]</b>
                                    {{ channel.last_message.content }}
                                {% endif %}
                            </td>
                            <td>
                                <span>{{ channel.messages_count }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">{% trans "No result..." %}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block inline_javascript %}
    {% include "layouts/components/message/decryptor.html" %}
{% endblock %}
