{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{{ guild.name }} - {{ APP_NAME }}{% endblock %}

{% block content %}
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
        <div class="uk-width-1-1@m">
            <div class="uk-margin uk-margin-auto uk-card uk-card-default uk-text-center">
                <div class="uk-card-header">
                    <h1 class="uk-card-title">
                        {% trans "Lastest messages" %}
                    </h1>
                </div>
                <div class="uk-card-body">
                    <div class="uk-overflow-auto">
                        <table id="guildDetails" aria-label="messages" class="uk-table">
                            <thead>
                            <tr>
                                <th scope="col" class="uk-width-auto">{% trans "Channel" %}</th>
                                <th scope="col" class="uk-width-expand">{% trans "Last message" %}</th>
                                <th scope="col">{% trans "Messages" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if latest_channels %}
                                {% for channel in latest_channels %}
                                    <tr>
                                        <td>
                                            <a class="uk-link">{{ channel }}</a>
                                        </td>
                                        <td class="uk-overflow-auto">
                                            {% include "layouts/components/message/block.html" with message=channel.messages.first %}
                                        </td>
                                        <td>
                                            <span>{{ channel.messages_count }}</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="3">{% trans "No result..." %}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block inline_javascript %}
    {% include "layouts/components/message/decryptor.html" %}
{% endblock %}
