{% extends "layouts/base.html" %}
{% load static %}
{% load good_morning %}
{% load i18n %}

{% block content %}
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
        <div class="uk-width-1-1@m">
            <div class="uk-margin uk-margin-auto uk-card uk-card-default uk-box-shadow-large uk-text-center">
                <div class="uk-card-header">
                    <img class="uk-border-rounded" width="64" height="64"
                        {% if user.avatar %}
                         src="{{ user.avatar.url }}"
                        {% else %}
                         src="{% static 'images/icons/circle_user.svg' %}"
                        {% endif %}
                         alt="Avatar">
                    <h1 class="uk-card-title">
                        {{ user.username|good_morning }}
                    </h1>
                    <a href="{% url 'users:detail' user %}">{% trans "Account Settings" %}</a>
                </div>
                <div class="uk-card-body">
                    <div class="uk-flex-center uk-grid-match uk-text-center" uk-grid>
                        {% for guild in guilds %}
                            <a href="{% url "guild:guild_view" guild_id=guild.uuid %}">
                                <div uk-tooltip="{{ guild.name }}" class="uk-card">
                                    <div class="uk-card-body uk-flex uk-flex-column uk-padding-remove-vertical">
                                        <img class="uk-border-circle" loading="lazy"
                                             width="69" height="69" alt="{{ guild.name }} Icon"
                                             src="{{ guild.avatar.url }}">
                                        <span>{{ guild.name }}</span>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}

                        <a title="{% trans 'Create guild' %}" href="{% url 'guild:create' %}"
                           aria-label="{% trans "Create guild" %}">
                            <div uk-tooltip="{% trans 'Create guild' %}" class="uk-card">
                                <div class="uk-card-body uk-flex uk-flex-column uk-padding-remove-vertical">
                                    <img class="uk-border-circle" loading="lazy"
                                         width="69" height="69" alt="{{ guild.name }} Icon"
                                         src="{% static "images/icons/circle_plus.svg" %}">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
