{% extends "layouts/base.html" %}
{% load static %}
{% load abs_url %}
{% load qr_generator %}
{% load i18n %}

{% block title %}{{ APP_NAME }} - {% trans 'Invite' %}{% endblock %}

{% block breadcrumb %}
    <ul class="uk-breadcrumb">
        <li>
            <a href="{% url 'guild:home' %}">{% trans "Groups" %}</a>
        </li>
        <li>
            <a href="{% url 'guild:detail' invite.group.uuid %}">{{ invite.group.name }}</a>
        </li>
        <li>
            <span>{% trans "Invite" %}</span>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <form class="flex flex-column justify-center align-center height-100 text-center" autocomplete="off" method="post"
          action="{% url "guild:invite_delete" invite.guild.uuid invite.key %}">
        {% csrf_token %}

        <div class="form form-medium margin">
            <a target="_blank" href="{{ invite|generate_qr_code }}" class="form-logo form-logo-large"
               download="{{ invite.guild.name }}_invite.png">
                <img src="{{ invite|generate_qr_code }}" alt="{{ invite.guild.name }} QR">
            </a>

            <fieldset class="fieldset">
                <legend class="legend h1">{{ invite.guild.name }}{% trans "'s invite" %}
                    ({% trans "Uses:" %} {{ invite.uses }})
                </legend>

                <div class="form-progressive">
                    <div class="inline">
                        <label for="id_invite">
                            <input class="input" type="text" id="id_invite" value="{{ invite.key_url|abs_url }}">
                        </label>
                    </div>
                </div>

                {% if invite.guild.owner == request.user %}
                    <div class="margin form-separator"></div>

                    <div class="margin">
                        <button type="submit" class="link button-link text-danger" href="{% url "guild:home" %}">
                            {% trans "Delete" %}
                        </button>
                    </div>
                {% endif %}
            </fieldset>
        </div>
    </form>

{% endblock %}
